html, body {
    height: 100%;
    background-color: #3c415e;
}

#master {
    height: 40%;
    vertical-align: baseline;
    padding-top: 10%;
    padding: 20px;
    text-align: center;
}

#root {
    height: 100%;
}

.heading {
    color: white;
    text-align: center;
    position: relative;
    top: -15%;
}

.holder {
    display: flex;
    margin: auto;
    width: fit-content;
}

button {
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 14px 12px;
    cursor: pointer;
    border-radius: 4px;
}

.btn-blue {
    background-color: rgb(34, 193, 195);
    color: white;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.btn-orange {
    background-color: rgb(221, 112, 18);
    color: white;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

.btn-green {
    background-color: rgb(44, 209, 88);
    color: white;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}
.fix-box {
  width: 120px;
  height: 120px;
  border: 2px solid #fff;
  margin: 10px;
  display: inline-block;
  cursor: pointer;
}
